.container{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;

}
.control-container{
    display: flex;
    flex-direction: column;

}

.table-container{
    width: 40%;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
}
table{
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    tr:first-child{
        background: rebeccapurple;
        color: #fff;
        height: 50px;
    }
}